{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MTG Memes</title>
        <script src="{% static 'generateBackground.js' %}" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="{% static 'animations.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="wrapper">

            <div id="background" class="background">
            </div>

            <div class="content">

                <nav>
                    <ul class="navbar">
                        <li class="navtext navtext-left" id="navLi"><a href="{% url 'index' %}">MTG Investor's Grail</a></li>
                        <li class="navtext" id="navLi"><a href="{% url 'howItWorks' %}">How it Works</a></li>
                        <li class="navtext" id="navLi"><a href="{% url 'about' %}">About</a></li>
                        <li class="navtext" id="navLi"><a>Contact</a></li>
                    </ul>
                </nav>

                <footer class="footer">
                    <p class="footertext">Parts of MTG Investor's Grail are unofficial fan content permitted under the Wizards of the Coast Fan Content Policy. 
                        <br>The literal and graphical content shown on this website about Magic: The Gathering, including card images, oracle text, etc. is
                        copyright Wizards of the Coast, LLC, a subsidiary of Hasbro, Inc. 
                        <br>MTG Investor's Grail is not sponsored by, endorsed by, or affiliated with 
                        Wizards of the Coast.
                    </p>
                    <p class="footertext">Website created by Alexander Wei</p class="footertext">
                    <p class="footertext">Other content Copyright © 2019 MTG Investor's Grail</p class="footertext">
                </footer>
            </div>
        </div>
    </body>
</html>