{% load static %}
{% load my_filters %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>MTG Memes</title>
        <link rel="shortcut icon" type="image/ico" href="{% static 'images/favicon.ico' %}"/>

        <script src="{% static 'js/main.js' %}" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/multisearch.css' %}">
        <link rel="stylesheet" href="{% static 'css/animations.css' %}">

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="wrapper">

            <div id="background" class="background">
            </div>

            <div class="content">

                <nav>
                    <ul class="navbar navbar-search">
                        <li class="navtext navtext-left" id="navLi"><a href="{% url 'index' %}">MTG Investor's Grail</a></li>
                        <form action="/search-card/" method="GET">
                            {{ form }}
                        </form>
                        <li class="navtext" id="navLi"><a href="{% url 'contact' %}">Contact</a></li>
                        <li class="navtext" id="navLi"><a href="{% url 'about' %}">About</a></li>
                        <li class="navtext" id="navLi"><a href="{% url 'howItWorks' %}">How it Works</a></li>
                    </ul>
                </nav>

                <div class="mainContent">
                    <div class="topTextBox">
                        <p class="topText">
                            Only showing the first {{n}} out of {{ total_cards }} results:
                        </p>
                    </div>
                    {% for each in cards %}
                    <div class="cardBox">
                        {% if each.image_uris %}
                        <img class="cardImage" href="?cardName={{ each.name }}" src="{{ each.image_uris.border_crop }}">
                        
                        {% elif each.card_faces.0.image_uris %}
                        <img class="cardImage" href="?cardName={{ each.name }}" src="{{ each.card_faces.0.image_uris.border_crop }}">
                        {% endif %}

                        <div class="nameText">
                            <a class="" href="?cardName={{ each.name }}">
                                {{ each.name }}
                            </a>
                            <p>
                                ${{ each.prices.usd }} USD &nbsp;&nbsp;&nbsp; ${{ each.prices.usd_foil }} USD Foil
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                <footer class="footer">
                    <p class="footertext">Parts of MTG Investor's Grail are unofficial fan content permitted under the Wizards of the Coast Fan Content Policy. 
                        <br>The literal and graphical content shown on this website about Magic: The Gathering, including card images, oracle text, etc. is
                        copyright Wizards of the Coast, LLC, a subsidiary of Hasbro, Inc. 
                        <br>MTG Investor's Grail is not sponsored by, endorsed by, or affiliated with 
                        Wizards of the Coast.
                    </p>
                    <p class="footertext">Website created by Alexander Wei</p class="footertext">
                    <p class="footertext">Other content Copyright © 2019 MTG Investor's Grail</p class="footertext">
                </footer>
            </div>
        </div>
    </body>
</html>