html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: black;
}

strong {
    font-weight: bold;
}

.wrapper {
    position: relative;
}

.content {
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 2;
}



.navbar {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222222;
    width: 50%;
    margin: 0 25vw
}

.navtext {
    float: right;
    user-select: none;
}

.navtext a {
    display: block;
    color: white;
    font-size: 24px;
    padding: 2vh 2vw;
    text-decoration: none;
}


.navtext-left {
    float: left;
}

.flex-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    margin: auto 25%;
}

.title {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    color: white;
    
}

.inputText {
    width: 75%;
    height: 50px;
    font-size: 2em;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    display: block;
    background-color: rgba(255,255,255,0.3);;
    border-color: #888888;
    border-width: 3px;
    border-style: solid;
    margin: 2% auto 5% auto;
    outline: none;
}


.searchButton {
    display: block;
    font-size: 24px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    background-color: transparent;
    color: white;
    border-color: white;
    margin: 0 auto;
    height: 5vh;
    width: 20vh;
    border-radius: 2.5vh;
    border-style: solid;
    border-width: 3px;
    outline: none;
}

.background {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.footer {
    background-color: #222222;
    padding: 1% 20vw;
}

.footertext {
    color: #888888;
    font-size: 12px;
}